#friends_filters_block > #filter_form {
    background-color: #fff !important;
    border-radius: 4px !important;
}

    #friends_filters_block > #filter_form
    #search_filters_minimized:not(.search_filters_minimized.page_block.ui_rmenu_item_expanded) {
        padding: 10px 10px 5px 10px !important;
    }

    #friends_filters_block > #filter_form
    div.search_filter_main {
        margin: 0 !important;
        padding: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div#school_header {
        margin: 0 !important;
        padding: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div#uni_header {
        margin: 0 !important;
        padding: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div.radiobtn {
        margin: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div.search_filter_shut,
    #friends_filters_block > #filter_form
    div.search_filter_open {
        margin: 0 !important;
        padding: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div.search_checkboxes {
        padding: 4px 0 0 !important;
        margin: 0 0 10px !important;
    }

    #friends_filters_block > #filter_form
    div.checkbox {
        margin: 0 0 5px !important;
    }

    #friends_filters_block > #filter_form
    div.search_inner_filter {
        margin-bottom: 0 !important;
    }

    #friends_filters_block > #filter_form
    div.search_sep {
        display: none !important;
    }

div#friends_search_import {
    display: none !important;
}

div#friends_import_block {
    display: none !important;
}

div#friends_import_stub {
    display: none !important;
}
