body {
    background-color: #000 !important;
}

#side_bar ol li .left_row {
    color: wheat !important;
}

    #side_bar ol li .left_row:hover {
        background: #323232 !important;
    }

.left_fixer .left_count_wrap {
    margin: 2px 0 2px 2px !important;
    padding: 4px 6px !important;
}

#side_bar .more_div {
    display: none !important;
}

.side_bar_inner {
    padding: 0 !important;
}

#ads_left {
    display: none !important;
}

#page_header_cont .back {
    background: #000 !important;
    border-bottom: none !important;
}

.im-page_classic .im-page--chat-header {
    border-top: none !important;
}

.im-right-menu .page_block {
    background: #323232 !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 0 0 #323232, 0 0 0 1px #323232 !important;
    margin: 0 !important;
}

    .im-right-menu .page_block a {
        color: wheat !important;
    }

.im-right-menu .im-right-menu--count {
    color: wheat !important;
    text-shadow: 0 0 5px #c7b3f5 !important;
}

.ui_rmenu_sliding .ui_rmenu_slider {
    display: none;
}

.ui_rmenu_item_sel {
    background-color: darkgray !important;
    border: 0 !important;
}

    .ui_rmenu_item_sel span {
        color: #323232 !important;
    }

.ui_rmenu_item:hover {
    background-color: darkgray !important;
}

    .ui_rmenu_item:hover span {
        color: #323232 !important;
    }

.im-right-menu--text _im_r_tx {
    color: #323232 !important;
}

.im-right-menu .im-right-menu--close {
    color: wheat !important;
    font-family: monospace !important;
    font-weight: bold !important;
}

    .im-right-menu .im-right-menu--close:before {
        content: "X" !important;
    }

.im-page_classic.im-page .im-page--chat-input {
    border-bottom: solid 15px #000 !important;
    border-left: solid 1px #000 !important;
    border-right: solid 2px #000 !important;
}

input.text.ts_input {
    border-radius: 0 !important;
    background: #323232 url(/images/svg_icons/ic_head_loupe.svg) no-repeat !important;
    background-position: left 8px !important;
}

.chat_onl_wrap {
    right: 0 !important;
}

.chat_onl_inner {
    background-color: #f1f1f1 !important;
    border-radius: 0 !important;
}

.top_nav_link {
    color: wheat !important;
}

.im-mess.im-mess_unread:not(.im-mess_light) {
    background: powderblue !important;
}

.im-mess.im-mess_selected:last-child:before, .im-mess.im-mess_unread:last-child:before {
    background: powderblue !important;
}

.nim-dialog.nim-dialog_classic.nim-dialog_unread-out .nim-dialog--inner-text, .nim-dialog.nim-dialog_classic.nim-dialog_unread-out.nim-dialog_muted .nim-dialog--inner-text {
    background: powderblue !important;
}

.im-mess.im-mess_selected + .im-mess:before, .im-mess.im-mess_unread + .im-mess:before {
    background: powderblue !important;
}

.im-mess.im-mess_selected:not(.im-mess_is_editing), .im-mess.im-mess_selected:not(.im-mess_is_editing):hover {
    background: powderblue !important;
}

.search_sep {
    margin: 2px 0 0 !important;
    padding: 0 0 2px !important;
}
